<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/static/image/sw.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <meta charset="UTF-8">
    <title th:text="${film.getTitle}"> Title</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

</head>
<body class="starwars-header">
<embed src="/static/sound/swtheme.mp3" autostart="true" loop="true" width="2" height="0">
<div th:replace="header.html :: copy"></div>
<div align="center" style="top:0px; height: 600px; width: 100%">
    <div id="titles">
        <div id="titlecontent">
            <p align="center" th:text="${#strings.toUpperCase(film.getTitle())}"></p>
            <br>
            <p th:text="${film.getOpeningCrawl()}">
                Opening crawl
            </p>
        </div>
    </div>
</div>

<div class="container" style="top:600px">
    <table class="table table-hover table-dark" width="100%">
        <thead>
        <th align="center" th:text="${film.getTitle}" style="font-size: 200%"> Title</th>
        </thead>
        <tr>
            <td> Director</td>
            <td th:text="${film.getDirector()}">
            </td>
        </tr>
        <tr>
            <td> Producer</td>
            <td th:text="${film.getProducer()}">
            </td>
        </tr>
        <tr>
            <td>
                Characters
            </td>
            <td>
                <div th:if="${film.getCharacters().size()>0}">
                    <form action="/resident" method="post">
                        <button class="btn btn-outline-info" th:text="${film.getCharacters().size()}"
                                th:value="${film.getCharacters()}"
                                type="submit" name="residents">
                            0
                        </button>
                    </form>
                </div>
                <span th:unless="${film.getCharacters().size()>0}">0</span>
            </td>
        </tr>
        <tr>
            <td> Planets</td>
            <td>
                <div th:if="${film.getPlanets().size()>0}">
                    <form action="/planets" method="post">
                        <button class="btn btn-outline-info" th:text="${film.getPlanets().size()}"
                                th:value="${film.getPlanets()}"
                                type="submit" name="planets">
                            0
                        </button>
                    </form>
                </div>
                <span th:unless="${film.getPlanets().size()>0}">0</span>
            </td>
        </tr>
    </table>
</div>
</body>
</html>