<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Residents</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

</head>
<body>
<div class="container">
    <div class="card">
        <table class="table table-hover" width="100%">
            <thead class="thead-light">
            <tr align="center">
                <th>Name</th>
                <th>Height</th>
                <th>Mass(kg)</th>
                <th>Hair color</th>
                <th>Skin color</th>
                <th>Eye color</th>
                <th>Birth year</th>
                <th>Gender</th>
                <th>Films</th>
                <th>Vehicles</th>
                <th>Starships</th>
            </tr>
            </thead>
            <tbody>
            <div>
                <tr th:each="character : ${characters}">
                    <td th:text="${character.getName()}"> Name</td>
                    <td th:text="${character.getHeight}" align="center"></td>
                    <td th:text="${character.getMass()}" align="center"></td>
                    <td th:text="${character.getHairColor()}" align="center"></td>
                    <td th:text="${character.getSkinColor()}" align="center"></td>
                    <td th:text="${character.getEyeColor()}" align="center"></td>
                    <td th:text="${character.getBirthYear()}" align="center"></td>
                    <td th:text="${character.getGender()}" align="center"></td>
                    <td align="center">
                        <div th:if="${character.getFilms().size()>0}">
                            <form action="/films" method="post">
                                <button class="btn btn-outline-info" th:text="${character.getFilms().size()}"
                                        th:value="${character.getFilms()}"
                                        type="submit" name="films">
                                    0
                                </button>
                            </form>
                        </div>
                    </td>
                    <td align="center">
                        <div th:if="${character.getVehicles().size()>0}">
                            <button class="btn btn-outline-info" th:text="${character.getVehicles().size()}"
                                    th:value="${character.getVehicles()}"
                                    type="submit" name="vehicle">
                                0
                            </button>
                        </div>
                        <span th:unless="${character.getVehicles().size()>0}">0</span>
                    </td>
                    <td align="center">
                        <div th:if="${character.getStarships().size()>0}">
                            <button class="btn btn-outline-info" th:text="${character.getStarships().size()}"
                                    th:value="${character.getStarships()}"
                                    type="submit" name="starships">
                                0
                            </button>
                        </div>
                        <span th:unless="${character.getStarships().size()>0}">0</span>
                    </td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>