<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Films</title>
    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

</head>
<body>
<div class="container">
    <div class="card">
        <table class="table table-hover" width="100%">
            <thead class="thead-light">
            <tr align="center">
                <th>Name</th>
                <th>Model</th>
                <th>Manufacture</th>
                <th>Cost</th>
                <th>Length</th>
                <th>Atmosphering speed</th>
                <th>Hyper speed</th>
                <th>Class</th>
                <th>Pilots</th>
                <th>Films</th>
            </tr>
            </thead>
            <tbody>
            <div>
                <tr th:each="starship : ${starships}">
                    <td th:text="${starship.getName()}">Name</td>
                    <td th:text="${starship.getModel()}">Model</td>
                    <td th:text="${starship.getManufacturer()}">Manufacturer</td>
                    <td th:text="${starship.getCostInCredits()}">Cost</td>
                    <td th:text="${starship.getLength()}">Length</td>
                    <td th:text="${starship.getMaxAtmospheringSpeed()}">Atmosphering speed</td>
                    <td th:text="${starship.getHyperdriveRating()}">Hyper speed</td>
                    <td th:text="${starship.getStarshipClass()}">Class</td>
                    <td align="center">
                        <div th:if="${starship.getPilots().size()>0}">
                            <form action="/resident" method="post">
                                <button class="btn btn-outline-info" th:text="${starship.getPilots().size()}"
                                        th:value="${starship.getPilots()}"
                                        type="submit" name="residents">
                                    0
                                </button>
                            </form>
                        </div>
                        <span th:unless="${starship.getPilots().size()>0}">0</span>
                    </td>
                    <td align="center">
                        <div th:if="${starship.getFilms().size()>0}">
                            <form action="/films" method="post">
                                <button class="btn btn-outline-info" th:text="${starship.getFilms().size()}"
                                        th:value="${starship.getFilms()}"
                                        type="submit" name="films">
                                    0
                                </button>
                            </form>
                        </div>
                        <span th:unless="${starship.getFilms().size()>0}">0</span>
                    </td>

                </tr>
            </div>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>